* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

body,
html {
  height: 100%;
}

main {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

aside {
  position: absolute;
  top: 0%;
  left: -30%;
  width: 30%;
  height: 100vh;
  z-index: 4;
  background-color: aqua;
}

.parallax-layer {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

#layer-1 {
  width: 100%;
  height: 100%;
  z-index: 3;
  background-image: url("assets/bgParallax/layer-1.png");
}

#layer-2 {
  width: 100%;
  height: 100%;
  z-index: 2;
  background-image: url("assets/bgParallax/layer-2.png");
}

#layer-3 {
  width: 100%;
  height: 100%;
  z-index: 1;
  background-image: url("assets/bgParallax/layer-3.png");
}

#basicKnight {
  top: 75%;
  left: 20%;
  background-image: url("assets/characters/basicKnight.png");
  width: 15rem;
  height: 15rem;
  z-index: 4;
}

#ennemy {
  top: 76%;
  left: 70%;
  background-image: url("assets/characters/ennemy.png");
  width: 12rem;
  height: 12rem;
  z-index: 4;
}

@keyframes slidein {
  from {
    top: 0%;
    left: -30%;
  }

  to {
    top: 0%;
    left: 0%;
  }
}
